*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: whitesmoke;
  height: 70px;
  margin-bottom: 40px;
  line-height: 70px;
}

.logo-text{
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  font-size: 100;
  font-weight: bolder;
}

.logo{
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

main{
  margin: 150px;
  background-color:rgb(255, 255, 255);
}

body{
  background-color: rgb(246, 248, 249);
}

.addtask{
  height: fit-content; 
  background-color:rgb(111, 195, 245);
  border: 1px solid rgb(111, 195, 245);
  color: white;
  border-radius: 10%;
  padding: 5px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addsection{
  height: fit-content; 
  background-color: white;
  border: 1px solid grey;
  color: gray;
  border-radius: 10%;
  padding: 5px;
  display: inline-block;
}

.tasks{
  margin-left: 50px;
}

.row{
  margin-bottom: 15px;
}

.mycircle {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
}

.positive{
  border: 1px solid green;
  color: forestgreen;
}

.negative {
  border: 1px solid red;
  color: red;
}

.action{
  display: inline-block;
}

.rectangle{
  width: 450px;
  height: 100px;
  border-radius: 10%;
  color: white;
  font-size: 10px;
  padding: 5px;
}

.mobile{
  background-color: rgb(69, 171, 234);
}

.editorial{
  background-color: rgb(69, 171, 234);
}

.app{
  background-color: rgb(156, 114, 228);
}

.recruiting{
  background-color: rgb(100, 192, 169);
}

.mobile{
  background-color: rgb(242, 158, 51);
}

.website{
  background-color: rgb(216, 99, 161);
}

.sales{
  background-color: rgb(176, 201, 38);
}